HELP.md
!**/src/main/**
!**/src/test/**
application.pid
generated
logs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Querydsl ###
/querydsl

### Gradle ###
.gradle
/gradle
!gradle/wrapper/gradle-wrapper.jar
/build
gradlew
gradlew.bat